.lesson_block {
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 11px;
  font-weight: 300;
  height: 100%;
}

.lesson_tags {
  display: flex;
  gap: 6px;
}

.lesson_tag {
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
}

.lesson_block.lecture {
  background-color: rgba(14, 165, 233, 0.1);
  border-left: 3px solid #0478b6;
}

.lesson_block.lab {
  background-color: rgba(16, 185, 129, 0.1);
  border-left: 3px solid #10b981;
}

.lesson_block.practice {
  background-color: rgba(109, 40, 217, 0.1);
  border-left: 3px solid #6d28d9;
}

.lesson_tag.lecture {
  background-color: #0478b6;
}

.lesson_tag.lab {
  background-color: #10b981;
}

.lesson_tag.practice {
  background-color: #6d28d9;
}

.lesson_tag.green {
  background-color: #1baf23;
}

.lesson_time.lecture,
.lesson_title.lecture {
  color: #0478b6;
  font-weight: 500;
  font-size: 13px;
}

.lesson_time.lab,
.lesson_title.lab {
  color: #10b981;
  font-weight: 500;
  font-size: 13px;
}

.lesson_time.practice,
.lesson_title.practice {
  color: #6d28d9;
  font-weight: 500;
  font-size: 13px;
}

