.notes_sidebar {
  color: white;
  width: 100%;
}

.notes_day {
  margin: 4% 4%;
  font-size: 18px;
}

.subject {
  font-weight: 600;
  color: #a1a1aa;
  font-size: 14px;
  width: 95%;
}
.day_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.day_label {
  font-size: 18px;
  font-weight: 400;

}

.day_date {
  font-size: 0.95em;
  font-weight: 400;
}

.note {
  width: 95%;
  color: white;
  font-size: 14px;

}

.note_info {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.circle_note {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #10b981;
}

.notes_day_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 3%;
  margin: 23px 0;

}

.note{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
