.notes_sidebar {
  color: white;
  width: 100%;
}

.notes_day {
  margin: 6% 4%;
  font-size: 20px;
}

.subject {
  font-weight: 600;
  color: #a1a1aa;
  font-size: 14px;
  margin-top: 10px;
 
  width: 95%;
}

.note {
  width: 95%;
  color: white;
  font-size: 14px;

}

.note_info {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.circle_note {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #10b981;
}

.notes_day_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 3%;
}

.note{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
